@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/** Resets **/

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  vertical-align: bottom;
}

summary {
  list-style: none;
}

/** Base styles & variables**/

:root {
  --clr-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --clr-soft-red: hsl(14, 88%, 65%);
  --clr-shadow: hsl(260, 74%, 30%);

  --bg-soft-violet: hsl(273, 75%, 66%);
  --bg-soft-blue: hsl(240, 73%, 65%);

  --txt-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --txt-dark-grayish-blue: hsl(240, 6%, 50%);

  --divider-light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
    to bottom,
    var(--bg-soft-violet),
    var(--bg-soft-blue)
  );
}

.title {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  margin: 150px 1.5em 5em;
}

.content > * {
  flex: 1;
}

.footer {
  font-size: 11px;
  text-align: center;
}
.footer a {
  color: hsl(228, 45%, 44%);
}

/** Component styles **/

.card {
  font-family: "Kumbh Sans", sans-serif;
  padding: 0 1.5em 3em;
  background: white;
  border-radius: 20px;
  box-shadow: 0 20px 50px -20px var(--clr-shadow);
}

.card__header {
  text-align: center;
  background: url(./images/bg-pattern-mobile.svg) no-repeat center 0;
  padding-bottom: 4.125em;
}

.mobile-illustration {
  max-width: 238px;
  margin-top: -109px;
}

.desktop-illustration {
  display: none;
}

.card__title {
  margin-bottom: 1em;
  text-align: center;
}

.card__list {
  font-size: 12px;
}

.details {
  padding: 1.667em 0;
  border-bottom: 1px solid var(--divider-light-grayish-blue);
}

.details__summary {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.details__summary::after {
  content: "";
  width: 10px;
  height: 7px;
  background-image: url(./images/icon-arrow-down.svg);
  position: absolute;
  right: 0;
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
}

.details[open] > .details__summary {
  font-weight: 700;
  padding-bottom: 1.5em;
}

.details[open] > .details__summary::after {
  transform: rotate(180deg);
}
/** Utility classes **/

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}
