@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/** Resets **/

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

summary {
  list-style: none;
}

/** Base styles & variables**/

:root {
  --clr-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --clr-soft-red: hsl(14, 88%, 65%);

  --bg-soft-violet: hsl(273, 75%, 66%);
  --bg-soft-blue: hsl(240, 73%, 65%);

  --txt-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --txt-dark-grayish-blue: hsl(240, 6%, 50%);

  --divider-light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}

.title {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}

.footer {
  font-size: 11px;
  text-align: center;
}
.footer a {
  color: hsl(228, 45%, 44%);
}

/** Component styles **/

/** Utility classes **/

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}
